PORT=5000
MONGODB_URI=
JWT_SECRET=
CLIENT_URL=http://localhost:3000
ADMIN_EMAIL=admin@medicareconnect.com
ADMIN_PASSWORD=
SEED_DOCTOR_PASSWORD=Doctor@123
SEED_PATIENT_EMAIL=patient@test.com
SEED_PATIENT_PASSWORD=Patient@123
